---
import Layout from "@/layouts/Layout.astro";
import { ShopWrapper } from "@/features/shop/components/ShopWrapper";

if (!Astro.locals.token){
    return Astro.redirect("/login")
}
---

<Layout>
    <h2 class="text-2xl text-center font-bold text-white mt-2">Welcome to the Poke Shop!</h2>
    
    <ShopWrapper client:only="react" />
</Layout>
