---
import Layout from '@/layouts/Layout.astro';
import { DailyEnvelopesWrapper } from "@/features/packs/components/DailyEnvelopesWrapper";
import Disclaimer from '@/components/Disclaimer.astro';

if (!Astro.locals.token){
    return Astro.redirect("/login")
}
---

<Layout title="MiniDex | Home">
	<div>
		<section class="p-4">
			<h2 class="text-center font-bold text-2xl text-white">Your Daily Packs</h2>

			<DailyEnvelopesWrapper client:only="react"/>
		</section>
	</div>
	<Disclaimer/>
</Layout>
